@page
@model Admin.EndPoint.Pages.Visitor.IndexModel
@{
}

<link href="~/Theme/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
<link href="~/Theme/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
<!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
<link href="~/Theme/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css" />
<!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

<div class="row layout-top-spacing">

    <div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-table-one">
            <div class="widget-heading">
                <h5 class="">Today's statistics</h5>
            </div>

            <div class="widget-content">
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">

                            <div class="t-name">
                                <h4>number of visits</h4>
                                <p class="meta-date">@Model.ResultTodayReportDto.ToDay.PageViews</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">

                            <div class="t-name">
                                <h4> Number of Visitors</h4>
                                <p class="meta-date"> @Model.ResultTodayReportDto.ToDay.Visitors</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">

                            <div class="t-name">
                                <h4>امی دیاز</h4>
                                <p class="meta-date"> @Model.ResultTodayReportDto.ToDay.ViewsPerVisitor</p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="col-xl-5 col-lg-12 col-md-6 col-sm-12 col-12 layout-spacing">
        <div class="widget widget-table-one">
            <div class="widget-heading">
                <h5 class="">Total visit statistics </h5>
            </div>

            <div class="widget-content">
                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">

                            <div class="t-name">
                                <h4>number of visits</h4>
                                <p class="meta-date">@Model.ResultTodayReportDto.GeneralStateDto.TotalPageView</p>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">

                            <div class="t-name">
                                <h4> Number of Visitors</h4>
                                <p class="meta-date"> @Model.ResultTodayReportDto.GeneralStateDto.TotalVisitors</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="transactions-list">
                    <div class="t-item">
                        <div class="t-company-name">

                            <div class="t-name">
                                <h4>امی دیاز</h4>
                                <p class="meta-date"> @Model.ResultTodayReportDto.GeneralStateDto.PageViewsPerVisitor</p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


    <div class=" col-lg-12 layout-spacing">
        <div class="widget widget-table-two">

            <div class="widget-heading">
                <h5 class="">Last Visits</h5>
            </div>

            <div class="widget-content">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><div class="th-content">IP</div></th>
                                <th><div class="th-content">Link</div></th>
                                <th><div class="th-content">Refrrer Link</div></th>
                                <th><div class="th-content th-heading">browser</div></th>
                                <th><div class="th-content">IsSpider</div></th>
                                <th><div class="th-content">Time</div></th>
                                <th><div class="th-content">UserId</div></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ResultTodayReportDto.visitors)
                            {
                                <tr>
                                    <td><div class="td-content product-brand"> @item.IP</div></td>
                                    <td><div class="td-content product-brand"> @item.CurrentLink</div></td>
                                    <td><div class="td-content product-brand"> @item.ReferrerLink</div></td>
                                    <td><div class="td-content product-brand"> @item.Browser</div></td>
                                    <td><div class="td-content product-brand"> @item.Isspider</div></td>
                                    <td><div class="td-content product-brand"> @item.Time</div></td>
                                    <td><div class="td-content product-brand"> @item.VisitorId</div></td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

 

    <div id="chartLine" class="col-xl-12 layout-top-spacing layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>ساده</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="s-line" class=""></div>


            </div>
        </div>
    </div>

    <div id="chartLine" class="col-xl-12 layout-top-spacing layout-spacing">
        <div class="statbox widget box box-shadow">
            <div class="widget-header">
                <div class="row">
                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                        <h4>Last 30 Day</h4>
                    </div>
                </div>
            </div>
            <div class="widget-content widget-content-area">
                <div id="s-lineDay" class=""></div>


            </div>
        </div>
    </div>

</div>
@section Scripts{



    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/Theme/plugins/apex/apexcharts.min.js"></script>
    <script src="~/Theme/assets/js/dashboard/dash_1.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/Theme/assets/js/scrollspyNav.js"></script>
    @*<script src="~/Theme/plugins/apex/custom-apexcharts.js"></script>*@
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->



<script>
        var DisplayHour=@Html.Raw(Json.Serialize(Model.ResultTodayReportDto.ToDay.VisitPerHour.Display));
        var ValueHour=@Html.Raw(Json.Serialize(Model.ResultTodayReportDto.ToDay.VisitPerHour.Value));
        var sline = {
            chart: {
                height: 350,
                type: 'line',
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: false,
                }
            },
            dataLabels: {
                enabled: false
            },
            stroke: {
                curve: 'straight'
            },
            series: [{
                name: "Desktops",
                data: ValueHour ,//[10, 41, 35, 51, 49, 62, 69, 91, 148]
            }],
            title: {
                text: 'محصولات در ماه',
                align: 'right',
                offsetX: -95,
            },
            grid: {
                row: {
                    colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.5
                },
            },
            xaxis: {
                categories: DisplayHour,  //['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر'],
            },
            yaxis: {
                labels: {
                    offsetX: -20,
                }
            }
        }

        var chart = new ApexCharts(
            document.querySelector("#s-line"),
            sline
        );

    chart.render();
    //////////////

        var DisplayDay=@Html.Raw(Json.Serialize(Model.ResultTodayReportDto.GeneralStateDto.VisitPerDay.Display));
        var ValueDay=@Html.Raw(Json.Serialize(Model.ResultTodayReportDto.GeneralStateDto.VisitPerDay.Value));
    var slineDay = {
        chart: {
            height: 350,
            type: 'line',
            zoom: {
                enabled: false
            },
            toolbar: {
                show: false,
            }
        },
        dataLabels: {
            enabled: false
        },
        stroke: {
            curve: 'straight'
        },
        series: [{
            name: "Desktops",
            data: ValueDay,//[10, 41, 35, 51, 49, 62, 69, 91, 148]
        }],
        title: {
            text: 'محصولات در ماه',
            align: 'right',
            offsetX: -95,
        },
        grid: {
            row: {
                colors: ['#f1f2f3', 'transparent'], // takes an array which will be repeated on columns
                opacity: 0.5
            },
        },
        xaxis: {
            categories: DisplayDay,  //['فروردین', 'اردیبهشت', 'خرداد', 'تیر', 'مرداد', 'شهریور', 'مهر', 'آبان', 'آذر'],
        },
        yaxis: {
            labels: {
                offsetX: -20,
            }
        }
    }

    var chartDay = new ApexCharts(
        document.querySelector("#s-lineDay"),
        slineDay
    );

    chartDay.render();


</script>

}